<div class="blue-section">
  <%= image_tag @collection.image,class:"icon",class:"gravatar" if @collection.image.attached?%>
  <%= link_to 'Collection sessions', sessions_collection_path(@collection) %>
  <h1 class="text-light text-center"><%= @collection.name  %></h1>
  <%= render @collection.study_sessions, author: true %>
  <%= link_to 'Create new session in this group', new_session_collection_path ,class:"btn btn-success"  %>
</div>
