<div class="accordion-item">
  <h2 class="accordion-header" id="headingOne">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#id-<%=study_session.id%>" aria-expanded="false" aria-controls="id-<%=study_session.id%>">
      Name: <%= study_session.name %>
    </button>
  </h2>
  <div id="id-<%=study_session.id%>" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
    <div class="accordion-body">
      <p><%= "Collection: " +study_session.collection.name if study_session.collection.external == false%></p>
      <p><%= image_tag study_session.collection.image,class:"icon" if study_session.collection.image.attached?%></p>
      <p>Total duration : <%= distance_of_time_in_words(study_session.duration) %></p>
      <p>Created at :<%= study_session.created_at %></p>
      <p><%= study_session.author.name if author%></p>
      <%= link_to "View this session", study_session ,class:"btn btn-primary"%>
    </div>
  </div>
</div>
