<%= link_to study_session ,class:"nav-link" do%>
  <hr>
  <li>
    Name: <%= study_session.name %>
    <br>
    Collection: <%= study_session.collection.name %>
    <br>
    <p>Total duration : <%= distance_of_time_in_words(study_session.duration) %></p>
    <p>Created At<%= study_session.created_at %></p>
    <p><%= study_session.author.name if author%>
    </p>
  </li>
<% end %>
