<%= link_to study_session ,class:"nav-link" do%>
  <hr>
  <li>
    Name: <%= study_session.name %>
    <br>
    <%= "Collection: " +study_session.collection.name if study_session.collection.external == false%>
    <%= image_tag study_session.collection.image,class:"icon" if study_session.collection.image.attached?%>
    <p>Total duration : <%= distance_of_time_in_words(study_session.duration) %></p>
    <p>Created at :<%= study_session.created_at %></p>
    <p><%= study_session.author.name if author%>
    </p>
  </li>
<% end %>
<div class="accordion-item">
  <h2 class="accordion-header" id="headingOne">
    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
      Accordion Item #1
    </button>
  </h2>
  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
    <div class="accordion-body">
      <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
    </div>
  </div>
</div>
