<%= link_to study_session ,class:"nav-link" do%>
  <li>
    Name: <%= study_session.name %>
    <br>
    Collection: <%= study_session.collection.name %>
    <br>
    Duration: <%= study_session.duration %>
    <br>
    Created At<%= study_session.created_at %>
    <br>
  </li>
<% end %>
