<%= form_with model: @study_session, local: true do |form|%>
  <%= form.label :name ,class:"form-label"%>
  <%= form.text_field :name ,class:"form-control", required: true  %>
  <%= form.label :collection, class:"form-label"%>
  <%= form.select(:collection_id, @collections, {}, { :class => 'form-select' }) %>
  <%= form.label :duration_start, class:"form-label"%>
  <%= time_field :study_session,:duration_start,class:"form-control",  required: true %>
  <%= form.label :duration_end ,class:"form-label"%>
  <%= time_field :study_session,:duration_end ,class:"form-control", required: true  %>
  <div class="bg-green">
    <%= form.submit "Submit new session", class:"btn btn-bottom" %>
  </div>
<% end %>
