Name: <%= @study_session.name %>
<%= link_to @study_session.collection.name, @study_session.collection  if @study_session.collection.external == false%>
<% if @study_session.collection.image.attached? %>
  <p>Icon:<%= image_tag @study_session.collection.image,class:"icon"%></p>
<% end %>
<br>
Created at: <%= @study_session.created_at %>
<br>
Collection: <%= @study_session.collection.name %>
<br>
Duration : <%= distance_of_time_in_words(@study_session.duration)%>
<%= form_with model: @study_session, local: true do |form|%>
  <%= form.text_field :note %>
  <%= form.submit "Submit", class:"" %>
<% end %>
