<%= form_with model: @user, local: true do |form|%>
  <%= render 'shared/error_messages', object:form.object %>
  <%= form.label :name %>
  <%= form.text_field :name, class:"form-control" %>
  <%= form.label :email %>
  <%= form.email_field :email ,class:"form-control"%>
  <%= form.label :password %>
  <%= form.password_field :password ,class:"form-control"%>
  <%= form.label :password_confirmation,"Confirmation" %>
  <%= form.password_field :password_confirmation ,class:"form-control"%>
  <%= form.submit user_button(@user), class:"btn" %>
<% end %>
<% if !@user.new_record? %>
  <%= gravatar_for @user %>
  <a href="https://gravatar.com/emails" target="_blank" rel="noopener"> change</a>
<% end %>
