<div class="blue-section">
  <%= gravatar_for @user,class:"user-gravatar" %>
  <h1>current_user.name</h1>
  <%= link_to 'All My study sessions', study_sessions_path  %>
  <%= link_to 'All External study sessions', external_study_sessions_path  %>
  <%= link_to 'All My Collections',collections_path %>
  <%= link_to "All user's collections", all_collections_path  %>
  <%= link_to 'All Users', users_path  %>
  <%= link_to 'New Session', new_study_session_path %>
  <%= link_to 'New Group' ,new_collection_path %>
</div>
