<h1><%= @user.name %>
  <%= link_to 'All my study sessions', study_sessions_path %>
  <%= link_to 'All external study sessions',external_path%>
  <%= link_to 'All Collections',collections_path%>
  <%= link_to 'All Users', users_path %>
</h1>
