<nav id="mySidebar" class="sidebar">
  <div class="sidebar-nav text-light list-group" id="accordionSidebar">
    <% if logged_in? %>
      <%= link_to current_user,class:"list-group-item" do%>
        <i class="fas fa-tachometer-alt"></i>
        <span>Home</span>
      <% end %>
      <%= link_to notes_path ,class:"list-group-item" do%>
        <i class="fas fa-sticky-note"></i>
        <span>Notes</span>
      <% end %>
      <%= link_to study_sessions_path ,class:"list-group-item" do%>
        <i class="fas fa-table"></i>
        <span>Sessions</span>
      <% end %>
      <%= link_to collections_path ,class:"list-group-item" do%>
        <i class="fas fa-th-large"></i>
        <span>Collections</span>
      <% end %>
      <%= link_to users_path ,class:"list-group-item" do%>
        <i class="far fa-address-book"></i>
        <span>Users</span>
      <% end %>
      <%= link_to edit_user_path(current_user),class:"list-group-item" do%>
        <i class="fas fa-user"></i>
        <span>Settings</span>
      <% end %>
      <%= link_to logout_path, :method => :delete, data: {:confirm => "You sure you want to log out?" } ,
                            :title => "log out",class:"list-group-item" do%>
        <i class="fas fa-sign-out-alt"></i>
        <span>Log out</span>
      <% end %>
    <% else %>
      <%= link_to login_path ,class:"list-group-item" do%>
        <i class="far fa-user-circle"></i>
        <span>Login</span>
      <% end %>
      <%= link_to signup_path ,class:"list-group-item" do%>
        <i class="fas fa-user-circle"></i>
        <span>Register</span>
      <% end %>
    <% end %>
    <div class="text-center bg-green">
      <a href="javascript:void(0)" class="sidebar-toggler btn btn-bottom">&#60;</a>
    </div>
  </div>
</nav>
