<!DOCTYPE html>
<html>
  <head>
    <title>Study Buddy</title>
    <%= render 'layouts/meta' %>
  </head>
  <body id="page-top">
    <div id="wrapper">
      <div class="d-flex flex-column" id="content-wrapper">
        <%= render 'layouts/notice' %>
        <%= render 'layouts/navbar' %>
        <%= render 'layouts/fab' %>
        <%= yield %>
      </div>
    </div>
    <%= javascript_pack_tag 'theme', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
