<!DOCTYPE html>
<html>
  <head>
    <title>Study Buddy</title>
    <%= render 'layouts/meta' %>
  </head>
  <body id="page-top">
    <div id="wrapper">
      <div class="d-flex flex-column" id="content-wrapper">
        <%= render 'layouts/fab' %>
        <%= render 'layouts/navbar' %>
        <div class="sidebar-body">
          <%= render 'layouts/sidebar' %>
          <div class="yield">
            <%= render 'layouts/notice' %>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
    <script>
      document.querySelectorAll('.sidebar-toggler').forEach((ele) => {
        ele.addEventListener('click', () => {
      console.log('hi')
      document.getElementById("mySidebar").classList.toggle('toggle-sidebar');
        })
      })
    </script>
  </body>
</html>
